#explore {
     width: var(--main-width);
}

#explore .explore__options {
     width: 100%;
     box-sizing: border-box;
     padding: 1.25rem 1.5rem;
     border: 2px solid rgb(92, 92, 92);
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-radius: 0.5rem;
}
#explore .explore__options .explore__options-left button {
     color: white;
     background-color: var(--main-gray);
     padding: 10px 20px;
     border-radius: 0.25rem;
     font-weight: bold;
     transition: all 0.25s 0s ease;
     cursor: pointer;
}
#explore .explore__options .explore__options-left button:hover {
     background-color: var(--main-blue);
}

#explore .explore__options .explore__options-right select {
     background-color: var(--main-gray);
     color: white;
     padding: 10px 20px;
     border-radius: 0.25rem;
     font-size: 16px;
}
#explore .explore__options .explore__options-right select:nth-child(2),
#explore .explore__options .explore__options-left button:not(:nth-child(1)) {
     margin-left: 1rem;
}

#explore .explore__items {
     margin: 50px 0;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 2rem;
}

@media only screen and (max-width: 1324px) {
     #explore .explore__items {
          grid-template-columns: repeat(3, 1fr);
          gap: 1.5rem;
     }
}

@media only screen and (max-width: 1024px) {
     #explore .explore__items {
          grid-template-columns: repeat(2, 1fr);
     }
}

@media only screen and (max-width: 992px) {
     #explore .explore__options {
          flex-direction: column;
          align-items: flex-start;
     }
     #explore .explore__options > div {
          margin: 1rem 0 0;
     }

     #explore .explore__options .explore__options-left {
          box-sizing: border-box;
          width: 100%;
          overflow-x: auto;
          display: flex;
          padding: 0;
          padding-bottom: 0.5rem;
     }
     #explore .explore__options-left::-webkit-scrollbar {
          height: 2px !important;
     }
     #explore .explore__options-left::-webkit-scrollbar-track {
          background-color: transparent;
          height: 2px !important;
     }
     #explore .explore__options-left::-webkit-scrollbar-thumb {
          background-color: var(--main-gray);
     }
     #explore .explore__options .explore__options-left button {
          white-space: nowrap;
     }
}

@media only screen and (max-width: 576px) {
     #explore .explore__items {
          grid-template-columns: 1fr;
     }
     #explore .explore__options-right {
          width: 100%;
     }
     #explore .explore__options .explore__options-right select {
          width: 100%;
          display: block;
     }
     #explore .explore__options .explore__options-right select:nth-child(2) {
          margin-top: 0.5rem;
          margin-left: 0 !important;
     }
}
