.infoAuth {
     display: flex;
     justify-content: space-between;
     font-size: 12px;
}

.infoAuth .infoAuth-image {
     width: 2.25rem;
}
.infoAuth .infoAuth-name {
     flex: 1;
     margin-left: 0.5rem;
}

.infoAuth .infoAuth-eth p:nth-child(1),
.infoAuth .infoAuth-name p:nth-child(1) {
     font-weight: 600;
}
.infoAuth .infoAuth-eth p:nth-child(2),
.infoAuth .infoAuth-name p:nth-child(2) {
     margin-top: 2px;
     color: rgb(136, 136, 138);
}
