#liveAuction .liveAuction__content {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     column-gap: 2rem;
}

@media only screen and (max-width: 1324px) {
     #liveAuction .liveAuction__content {
          grid-template-columns: repeat(3, 1fr);
          gap: 1.5rem;
     }
}

@media only screen and (max-width: 1024px) {
     #liveAuction .liveAuction__content {
          grid-template-columns: repeat(2, 1fr);
     }
}

@media only screen and (max-width: 768px) {
     #liveAuction .liveAuction__content {
          grid-template-columns: repeat(2, 1fr);
     }
}

@media only screen and (max-width: 576px) {
     #liveAuction .liveAuction__content {
          grid-template-columns: 1fr;
     }
}
