#coreFeatures .coreFeatures__title {
     display: flex;
     flex-direction: column;
     align-items: center;
}
#coreFeatures .coreFeatures__title h1 {
     margin: 1.75rem 0;
     font-size: 2.25rem;
}

#coreFeatures .coreFeatures__title p {
     width: 45%;
     line-height: 2rem;
     text-align: center;
     font-size: 18px;
     color: #c1c1c1;
}

#coreFeatures .coreFeatures__content {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     column-gap: 2rem;
}
#coreFeatures .coreFeatures__content .core {
     background-color: var(--main-gray);
     border: 1px solid #72727272;
     border-radius: 10px;
     padding: 1.5rem;
}
#coreFeatures .coreFeatures__content .core:hover {
     background-color: white;
}
#coreFeatures .coreFeatures__content .core:hover .core__title {
     color: black;
}
#coreFeatures .coreFeatures__content .core .core__icon {
     width: 4.5rem;
     height: 4.5rem;
     font-size: 1.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     background-color: aqua;
}
#coreFeatures .coreFeatures__content .core:nth-child(1) .core__icon {
     background-color: hsl(0, 100%, 93%);
     color: rgb(255, 101, 101);
}
#coreFeatures .coreFeatures__content .core:nth-child(2) .core__icon {
     background-color: rgb(249, 249, 185);
     color: rgb(255, 187, 0);
}
#coreFeatures .coreFeatures__content .core:nth-child(3) .core__icon {
     background-color: rgb(210, 245, 205);
     color: rgb(0, 255, 64);
}
#coreFeatures .coreFeatures__content .core:nth-child(4) .core__icon {
     background-color: rgb(209, 242, 248);
     color: rgb(0, 153, 255);
}

#coreFeatures .coreFeatures__content .core .core__title {
     font-size: 20px;
     margin: 1rem 0;
     font-weight: 600;
}

#coreFeatures .coreFeatures__content .core .core__content {
     color: var(--sub-color-text);
}

@media only screen and (max-width: 1324px) {
     #coreFeatures .coreFeatures__content {
          grid-template-columns: repeat(3, 1fr);
          gap: 1.5rem;
     }
}

@media only screen and (max-width: 1024px) {
     #coreFeatures .coreFeatures__content {
          grid-template-columns: repeat(2, 1fr);
     }
}

@media only screen and (max-width: 576px) {
     #coreFeatures .coreFeatures__content {
          grid-template-columns: 1fr;
     }
     #coreFeatures .coreFeatures__title p {
          width: 100%;
     }
}
