#footer {
     width: 100vw;
     background-color: var(--main-gray);
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 50px;
     padding: 4.5rem 0 4rem;
}

#footer > #footer__element {
     width: var(--main-width);
     display: grid;
     grid-template-columns: 4fr 2fr 2fr 3fr;
     gap: 3rem;
}

#footer .footer__info img {
     width: 100px;
     margin-bottom: 1.75rem;
}

#footer .footer__info p {
     width: 75%;
     line-height: 1.5rem;
     margin-bottom: 1.25rem;
}
#footer .footer__info a {
     color: white;
     display: inline-block;
     margin-right: 1rem;
     font-size: 1.25rem;
}

#footer .footer__info a:hover {
     color: var(--main-blue);
}

#footer img,
#footer h3 {
     margin: 0;
     margin-bottom: 2rem;
     font-size: 1.5rem;
}
#footer ul a {
     margin: 1rem 0;
}

#footer ul a:hover {
     color: white;
}

#footer p,
#footer a {
     letter-spacing: 1.25px;
     color: var(--sub-color-text);
}

#footer .footer__subcribe .footer__subcribe-input {
     position: relative;
     margin-top: 1.5rem;
     width: 100%;
     box-sizing: border-box;
     padding: 0.75rem 1rem;
     border: 1px solid white;
     border-radius: 10px;
}

#footer .footer__subcribe .footer__subcribe-input i {
     position: absolute;
     right: 0.5rem;
     top: 50%;
     transform: translateY(-50%);
     width: 30px;
     height: 30px;
     background-color: var(--main-blue);
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}
#footer .footer__subcribe .footer__subcribe-input input {
     display: inline-block;
     width: calc(100% - 50px);
     height: 100%;
     cursor: text;
     color: white;
     font-weight: bold;
     letter-spacing: 1px;
     background-color: transparent;
}

@media only screen and (max-width: 1024px) {
     #footer > #footer__element {
          grid-template-columns: 1fr 1fr;
     }
}
@media only screen and (max-width: 1024px) {
     #footer > #footer__element {
          grid-template-columns: 1fr;
          padding: 0 2rem;
     }
}
