@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
     padding: 0;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     background-color: var(--main-black);
     color: white;
     overflow-x: hidden;
}

.component__flex,
#root {
     display: flex;
     flex-direction: column;
     align-items: center;
}

::-webkit-scrollbar {
     width: 5px;
}

::-webkit-scrollbar-track {
     background: var(--main-gray);
}

::-webkit-scrollbar-thumb {
     background: var(--main-black);
}

::-webkit-scrollbar-thumb:hover {
     background: var(--sub-color-text);
}

a {
     text-decoration: none;
     color: white;
     display: block;
}

ul,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
     margin: 0;
     padding: 0;
}
li {
     list-style: none;
}

input,
label {
     display: block;
}

textarea,
select,
input,
button {
     outline: none;
     border: none;
     cursor: pointer;
}

img {
     width: 100%;
}

:root {
     --main-width: 1300px;
     --main-blue: #5142fc;
     --main-black: #141420;
     --main-black-sub: #353444;
     --main-gray: #2c2c39;
     --main-white: #4d4c5a;
     --main-size-title: 30px;
     --sub-color-text: #a1a0ae;
}

.text__gray {
     color: var(--sub-color-text);
}

/* 
576px for portrait phones
768px for tablets
992px for laptops
1200px for large devices
*/

@media only screen and (max-width: 1324px) {
     :root {
          --main-width: 1020px;
     }
}
@media only screen and (max-width: 1024px) {
     :root {
          --main-width: 900px;
     }
}
@media only screen and (max-width: 992px) {
     :root {
          --main-width: 700px;
     }
}
@media only screen and (max-width: 768px) {
     :root {
          --main-width: 500px;
     }
}
@media only screen and (max-width: 576px) {
     :root {
          --main-width: 100%;
          padding: 0 2rem;
     }
}
